:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-mono);
}

a {
  color: inherit;
}

li {
  list-style-type: none;
}
